
*{
	padding: 0;
	margin: 0;
}

video{
	border: 1px solid red;
	width: 400px;
	height: 300px;
}
.canvasWrap{
	position: relative;
	height: 300px;
	overflow: hidden;
}
canvas[id^="myCanvas"]{
	position: absolute;
	left: 414px;
	top: 8px;
	background: transparent;
	border: 1px solid #F00;
}
.menu{
	width: 800px;
	/*font-size: 2.5em;*/
}
.menu input[type='button']{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 100px;
	height: 50px;
	font-size: 1.2em;
}