*{
	margin: 0;
	padding: 0;
}
html{
	background-color: #e0e0e0;
}
video{
	border: 1px solid red;
	width: 640px;
	height: 360px;
	position: absolute;
	top: 0;
	left: 0px;
}
#canvasWrap{
	position: relative;
	margin: 0 auto;
	width: 45%;
	margin-top: 50px;
}
canvas[id^="myCanvasDraw"]{
	position: absolute;
	top: 0;
	/* left: 360px; */
	/* 隐藏视频 */
	left: 0; 
	background: transparent;
	border: 1px solid #e00;
}
#myContextMenu{
	position: absolute;
	background-color: #FFF;
	display: none;
	z-index: 100;
	width: 200px;
	font-family: 'Microsoft Yahei';
	padding: 5px;
}

#menuList li{
	/* display: block; */
	list-style: none;
	height: 25px; 
	border: 1px solid #FFF;
}
#menuList li span{
	/* display: inline-block; */
	height: 25px; 
	/* margin-bottom: 15px; */
	/* vertical-align: middle; */
}

#menuList li:hover{
	/* background-color: #e0e0e0; */
	cursor: pointer;
	border: 1px solid #7070A0;
}
#menuList li img{
	margin-right: 5px;
	vertical-align: middle;
	height: 24px; 
	width: 25px;
}
.menu{
	width: 45%;
	/*font-size: 2.5em;*/
	margin: 0 auto;
}
.menu input[type='button']{
	display: inline-block;
	/* margin: 0 auto; */
	margin-top: 20px;
	width: 100px;
	height: 30px;
	font-size: 1.2em;
	cursor: pointer;
}
.menu input[type='checkbox']{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 20px;
}

.menu label{
	display: inline-block;
	height: 30px;
	width: 15%;
	vertical-align: middle;
}
